*{
    margin: 0;
    padding: 0;
}
.two-para{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rebeccapurple;

}