*{
    margin: 0;
    padding: 0;
}

.task-6{
    width: 50%;
    margin: 20px auto;
}
/* .button-container{
    text-align: center;
} */

p{
    visibility: hidden;
}
button{
    margin: 10px auto;
    padding: 10px;
    display: block;
    
    
    
}